@import url('https://fonts.googleapis.com/css?family=Niramit:200,400,400i&amp;subset=latin-ext');

$font-family-sans-serif:  'Niramit', Helvetica, Arial, sans-serif !default;
$font-size-lg: 2rem;
$navbar-dark-color:  #fff;
$input-bg: #222;
$input-color: gray;
$input-border-color: #222;
$input-placeholder-color: orange;
